.no-webp body{
    background: darkslategray url('../images/backgroundpizza.jpg');
    background-size: cover;
  }

.webp body{
    background: darkslategray url('../images/backgroundpizza1.webp');
    background-size: cover;
  }

.no-js body{
  background: darkslategray;
  }

.form-layout {
  color:antiquewhite;
  text-shadow: 1px 1px #0c0a0a;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  border-color: antiquewhite;
  border-width: 1vmin;
  border-style: solid;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center; 
  }

.title {
  background: rgb(0,0,0, 0.6);
  border-radius: 10px;
  margin: 1vmin;
  padding: 2vmin;
  color:antiquewhite;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  text-align: center;
  }

.form-box {
  background: rgb(0,0,0, 0.7);
  border-radius: 10px;
  margin: 1vmin;
  padding: 2vmin;
  text-align: center;
  }

.column {
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
  }

legend {
  text-align: center;
  }

select {
  width: 80%;
  }

label {
  margin-right:12px;
}

#submit {
  background-color: #5cdb5c;
  font-weight: bold;
  font-size: calc(1.8em + 2vmin);
  height: 12vh;
  width: 80vw;
  border: none;
  border-radius: 10px;
  margin: 30px;
  }

#submit:hover {
  cursor: pointer;
  }

.form-box:hover {
  background: rgb(0,0,0, 0.9);
  transition: all .2s ease-in-out; 
  }

@media only screen and (max-width: 365px) {   
  #comments-section {
    max-width: 70vw;
    }
}

@media only screen and (min-width: 625px) {
  .column {
    flex-flow: row;
    justify-content: space-between;
    text-align: center;
    max-width: 95vw;
    
  }
}
  
@media all and (-ms-high-contrast: none) {
  body {
    background: darkslategray;
}
  legend {
    color:antiquewhite;
}  
  }
